*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
java_pid67092.hprof
java_pid70993.hprof
java_pid72677.hprof
java_pid75014.hprof
java_pid75700.hprof
